html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
}

body {
    font-family: Arial;
}

.card {
    padding: 15px;
    border-radius: 8px;
    background: #fff
}

button {
    margin: 6px
}